# cache
__pycache__/
*.py[cod]
*$py.class

# yaml files
*.yaml

# outputs
*N*N*W*W/

# netcdf files
*.nc

# restart files
*.restart

# part file
*.part

# log file
log*

# junk
z.junk/*

# generated plots
*.pdf
*.png

# sif file (singularity)
*.sif

# topo
Topo/Data

# outputs
*-????-??-??

# slurm
*.err
*.out

# packaging
build/
dist/
*.egg-info/
